body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-box {
  background-color: rgb(252, 151, 0);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(252, 151, 0);
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 196, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d4a303;
}
